*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

#pos {
  margin-top: 700px;
}


/*                              _ _   _             
                               (_) | (_)            
  _ __   ___    _ __   ___  ___ _| |_ _  ___  _ __  
 | '_ \ / _ \  | '_ \ / _ \/ __| | __| |/ _ \| '_ \ 
 | | | | (_) | | |_) | (_) \__ \ | |_| | (_) | | | |
 |_| |_|\___/  | #__/ \___/|___/_|\__|_|\___/|_| |_|
               | |                                  
               |_|    */
#vert{
  width: 1250px;
  height: 500px;
  background-color: green;
  margin: auto;
  padding-top: 120px;
}

#bleu{
  width: 950px;
  height: 250px;
  background-color: blue;
  margin: auto;
  padding-top: 120px;
}

#rouge{
  width: 500px;
  height: 125px;
  background-color: red;
  margin: auto;
  padding-top: 10px;
}

/*
  ______ _   _ _____                                  _ _   _             
 |  ____| \ | |  __ \                                (_) | (_)            
 | |__  |  \| | |  | |  _ __   ___    _ __   ___  ___ _| |_ _  ___  _ __  
 |  __| | # ` | |  | | | '_ \ / _ \  | '_ \ / _ \/ __| | __| |/ _ \| '_ \ 
 | |____| |\  | |__| | | | | | (_) | | |_) | (_) \__ \ | |_| | (_) | | | |
 |______|_| \_|_____/  |_| |_|\___/  | #__/ \___/|___/_|\__|_|\___/|_| |_|
                                     | |                                  
                                     |_|                                  */



/*   
           _       _   _           
          | |     | | (_)          
  _ __ ___| | __ _| |_ ___   _____ 
 | '__/ _ \ |/ _` | __| \ \ / / _ \
 | | |  __/ | (_| | |_| |\ V /  __/
 |_|  \___|_|\__,_|\__|_| \_/ \___|*/     
 
 #vertRelative{
  width: 1250px;
  height: 500px;
  background-color: green;
  margin: auto;
 
}

#bleuRelative{
  width: 950px;
  height: 250px;
  background-color: rgba(0, 0, 255, 0.459);
  margin: auto;
  position: relative;
  left: 250px;
  top: 150px;
}

#rougeRelative{
  width: 700px;
  height: 125px;
  background-color: red;
  margin: auto;
  position: relative;
  right: 600px;
  bottom: -65px;
}

/*  
  ______ _   _ _____             _       _   _           
 |  ____| \ | |  __ \           | |     | | (_)          
 | |__  |  \| | |  | |  _ __ ___| | __ _| |_ ___   _____ 
 |  __| | # ` | |  | | | '__/ _ \ |/ _` | __| \ \ / / _ \
 | |____| |\  | |__| | | | |  __/ | (_| | |_| |\ V /  __/
 |______|_| \_|_____/  |_|  \___|_|\__,_|\__|_| \_/ \___|
                                                         
                                                         */



/*        _               _            
       | |             | |           
   __ _| |__  ___  ___ | |_   _  ___ 
  / _` | '_ \/ __|/ _ \| | | | |/ _ \
 | (_| | |_) \__ \ (_) | | |_| |  __/
  \__,_|_#__/|___/\___/|_|\__,_|\___|
                                     
                                     */

#vertAbsolue{
  width: 1250px;
  height: 500px;
  background-color: green;
  margin: auto;
 
}

#bleuAbsolue{
  width: 900px;
  height: 250px;
  background-color: rgb(0, 0, 255);
  margin: auto;
  position: absolute;
  margin-top: 100px;
  left: 500px;
  
  
 
 
}

#rougeAbsolue{
  width: 125px;
  height: 125px;
  background-color: red;
  margin: auto;
  position: absolute;
  margin-top: 450px;
  left: 200px;
}       
/*  ______ _   _ _____          _               _            
 |  ____| \ | |  __ \        | |             | |           
 | |__  |  \| | |  | |   __ _| |__  ___  ___ | |_   _  ___ 
 |  __| | # ` | |  | |  / _` | '_ \/ __|/ _ \| | | | |/ _ \
 | |____| |\  | |__| | | (_| | |_) \__ \ (_) | | |_| |  __/
 |______|_| \_|_____/   \__,_|_#__/|___/\___/|_|\__,_|\___|
                                                           */
                                     
   
                                                           

/*        _               _              ___  
       | |             | |            |__ \ 
   __ _| |__  ___  ___ | |_   _  ___     ) |
  / _` | '_ \/ __|/ _ \| | | | |/ _ \   / / 
 | (_| | |_) \__ \ (_) | | |_| |  __/  / /_ 
  \__,_|_#__/|___/\___/|_|\__,_|\___| |____|
                                            
                                            */

#plumAbsolue2{
  width: 100%;
  height: 100px;
  background-color: plum;
  margin: auto;
  
}

#vertAbsolue2{
  width: 500px;
  height: 500px;
  background-color: green;
  margin: auto;
  margin-top: 200px;
  position: absolute;
  left: 450px;
  
  
}

#bleuAbsolue2{
  width: 250px;
  height: 250px;
  background-color: rgb(0, 0, 255);
  margin: auto;
  position: absolute;
  margin-top: 125px;
  left: 125px;
}

#rougeAbsolue2{
  width: 125px;
  height: 125px;
  background-color: red;
  margin: auto;
  position: absolute;
  margin-top: 450px;
  left: 450px;
}       

/*  ______ _   _ _____          _               _              ___  
 |  ____| \ | |  __ \        | |             | |            |__ \ 
 | |__  |  \| | |  | |   __ _| |__  ___  ___ | |_   _  ___     ) |
 |  __| | # ` | |  | |  / _` | '_ \/ __|/ _ \| | | | |/ _ \   / / 
 | |____| |\  | |__| | | (_| | |_) \__ \ (_) | | |_| |  __/  / /_ 
 |______|_| \_|_____/   \__,_|_#__/|___/\___/|_|\__,_|\___| |____|*/  


 /*
        _               _            _____      _       _   _           
       | |             | |          |  __ \    | |     | | (_)          
   __ _| |__  ___  ___ | |_   _  ___| |__) |___| | __ _| |_ ___   _____ 
  / _` | '_ \/ __|/ _ \| | | | |/ _ \  _  // _ \ |/ _` | __| \ \ / / _ \
 | (_| | |_) \__ \ (_) | | |_| |  __/ | \ \  __/ | (_| | |_| |\ V /  __/
  \__,_|_#__/|___/\___/|_|\__,_|\___|_|  \_\___|_|\__,_|\__|_| \_/ \___|
                                                                        
                                                                        */




#plumeAbsolueRelative{
box-sizing: content-box;
width: 100%;
border: solid rgb(255, 255, 255) 10px;
padding: 5px; }

#plumeAbsolueRelative {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
  margin: auto;
  margin-top: 50px;
  border: solid black;
}

#vertAbsolueRelative  {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

#bleuAbsolueRelative  {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  left: 135px;
  top: 5px;
}

#rougeAbsolueRelative  {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  margin-top: 35px;
  margin-left: 5px;
}

#jauneAbsolueRelative  {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: relative;
  left: 135px;
  top: 35px;
}

/*  ______ _   _ _____        _               _            _____      _       _   _           
 |  ____| \ | |  __ \      | |             | |          |  __ \    | |     | | (_)          
 | |__  |  \| | |  | | __ _| |__  ___  ___ | |_   _  ___| |__) |___| | __ _| |_ ___   _____ 
 |  __| | # ` | |  | |/ _` | '_ \/ __|/ _ \| | | | |/ _ \  _  // _ \ |/ _` | __| \ \ / / _ \
 | |____| |\  | |__| | (_| | |_) \__ \ (_) | | |_| |  __/ | \ \  __/ | (_| | |_| |\ V /  __/
 |______|_| \_|_____/ \__,_|_#__/|___/\___/|_|\__,_|\___|_|  \_\___|_|\__,_|\__|_| \_/ \___|
                                                                                            
*/



/*        _           _           
         (_)         | |          
  ____    _ _ __   __| | _____  __
 |_  /   | | '_ \ / _` |/ _ \ \/ /
  / /    | | | | | (_| |  __/>  < 
 /___|   |_|_| |_|\__,_|\___/_/\_\
                                  
                                  */



#plumeZ {
  margin-left: 600px;
  position: relative;
  box-sizing: border-box;
  height: 500px;
  width: 500px;
  padding: 25px;
  background-color: plum;
}

#vertZ {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  background-color: green;
}

#bleuZ {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 3;
  top: 70px;
  left: 70px;
  background-color: rgba(0, 0, 255, 0.452);
}

#rougeZ {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 2;
  left: 225px;
  bottom: 70px;
  background-color: red;
}

#jauneZ {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  bottom: 25px;
  left: 275px;
  background-color: yellow;
}                                                                                            

 /*
  ______ _   _ _____             _           _           
 |  ____| \ | |  __ \           (_)         | |          
 | |__  |  \| | |  | |   ____    _ _ __   __| | _____  __
 |  __| | # ` | |  | |  |_  /   | | '_ \ / _` |/ _ \ \/ /
 | |____| |\  | |__| |   / /    | | | | | (_| |  __/>  < 
 |______|_| \_|_____/   /___|   |_|_| |_|\__,_|\___/_/\_\
                                                         
                                                         */
 



/*
   __ _             _   
  / _| |           | |  
 | |_| | ___   __ _| |_ 
 |  _| |/ _ \ / _` | __|
 | | | | (_) | (_| | |_ 
 |_| |_|\___/ \__,_|\__|
                        
                        */



#largeur{
  width: 550px;
  margin: auto;
}


#vertF{
  height: 150px;
  width: 150px;
  background-color: green;
  float: left;
}

#bleuF{
  height: 150px;
  width: 150px;
  background-color: blue;
  float: left;
}

#orangeF{
  height: 150px;
  width: 100%;
  background-color: orange;
  clear: both; 
}

#grisF{
  height: 150px;
  width: 150px;
  background-color: grey;
  float: right;
}

#jauneF{
  height: 150px;
  width: 150px;
  background-color: yellow;
  float: right;
}

/*
  ______ _   _ _____     __ _             _   
 |  ____| \ | |  __ \   / _| |           | |  
 | |__  |  \| | |  | | | |_| | ___   __ _| |_ 
 |  __| | . ` | |  | | |  _| |/ _ \ / _` | __|
 | |____| |\  | |__| | | | | | (_) | (_| | |_ 
 |______|_| \_|_____/  |_| |_|\___/ \__,_|\__|
                                              
                                              */





