*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

.vert{
  width: 1250px;
  height: 500px;
  background-color: green;
  margin: auto;
  padding-top: 120px;
}

.bleu{
  width: 950px;
  height: 250px;
  background-color: blue;
  margin: auto;
  padding-top: 120px;
}

.rouge{
  width: 500px;
  height: 125px;
  background-color: red;
  margin: auto;
  padding-top: 10px;
}